<h2>Добавить пользователя</h2>
<p>
  <label for="lastname">Фамилия</label>
  <input id='lastname' type="text" [(ngModel)]="user.lastname">
</p>
<p>
  <label for="firstname">Имя</label>
  <input id='firstname' type="text" [(ngModel)]="user.firstname">
</p>
<p>
  <label for="middlename">Отчество</label>
  <input id='middlename' type="text" [(ngModel)]="user.middlename">
</p>
<button (click)='onButtonClick()'>Добавить</button>